<footer class="footer">
  <div class="foot-container grid--footer">
    <div class="contact-col">
      <img
              class="footer-img"
              src="../images/footer-img.svg"
              alt="Farewell, Reach Me Later!"
      />

      <div class="contact-contents">
        <div class="email-info info">
          <i class="fa-solid fa-envelope footer-icon"></i>
          <a class="contact-text" href="mailto:hello@sugamsubedi.com.np"
          >hello@wearlycloset.com.np</a
          >
        </div>

        <div class="phone-info info">
          <i class="fa-duotone fa-phone footer-icon"></i>
          <a class="contact-text" href="#">Request a Call!</a>
        </div>

        <p class="copyright">
          Copyright © <span class="year">2023</span> by Team Wearly, All
          rights reserved.
        </p>
      </div>
    </div>

    <div class="other-col">
      <nav class="pages-col">
        <p class="footer-heading">Pages</p>
        <ul class="footer-nav">
          <li><a class="footer-link" href="#">Home</a></li>
          <li><a class="footer-link" href="#services">Products</a></li>
          <li><a class="footer-link" href="#">Our Partners</a></li>
          <li><a class="footer-link" href="#cta">Contact</a></li>
          <li><a class="footer-link" href="#about-me">About Us</a></li>
        </ul>
      </nav>

      <nav class="socials-col">
        <p class="footer-heading">Socials</p>
        <ul class="footer-nav">
          <li>
            <a
                    class="footer-link footer-link-flex"
                    href="http://www.facebook.com/supSugam"
                    target="_blank"
            ><i class="fa-brands fa-facebook footer-icon-social"></i
            >Facebook</a
            >
          </li>
          <li>
            <a
                    class="footer-link footer-link-flex"
                    href="http://www.instagram.com"
                    target="_blank"
            ><i class="fa-brands fa-instagram footer-icon-social"></i
            >Instagram</a
            >
          </li>

          <li>
            <a
                    class="footer-link footer-link-flex"
                    href="http://vt.tiktok.com"
                    target="_blank"
            ><i class="fa-brands fa-tiktok footer-icon-social"></i
            >Tiktok</a
            >
          </li>

          <li>
            <a
                    class="footer-link footer-link-flex"
                    href="http://www.pinterest.com"
                    target="_blank"
            ><i class="fa-brands fa-pinterest footer-icon-social"></i
            >Pinterest</a
            >
          </li>
        </ul>
      </nav>

      <nav class="address-col">
        <p class="footer-heading">Our Store Venue</p>
        <div class="footer-nav">
          <a
                  target="_blank"
                  href="http://goo.gl/maps/F4c6wenwhAkYpGEW8"
                  class="footer-link footer-link-flex line-height-max"
          >Pokhara 7 - Kaski <br />Gandaki, Nepal
          </a>
          <a
                  target="_blank"
                  href="http://goo.gl/maps/F4c6wenwhAkYpGEW8"
                  class="footer-link footer-link-flex"
          ><i class="fa-solid fa-location-dot footer-icon-social"></i>View
            On Maps</a
          >
        </div>
      </nav>
    </div>
  </div>
</footer>